.flexible-container{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    border-radius: 250px;
}
.title{
    color: blueviolet;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.paragraph{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgba(75, 69, 69, 0.533);
}
.review-btn{
    border-radius: 5px;
    background-color: rgba(137, 43, 226, 0.851);
    color: beige;
}
.review-btn:hover{
    font-weight: bold;
    background-color: blueviolet;
}