nav{
    margin-top: 15px;
    margin-bottom: 5px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-right: 20px;
}
nav a:hover{
    color: blueviolet;
    font-weight: bold;
}